html {
    height: 100%;
    background-color: coral;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgb(255, 241, 110);
}

div {
    margin: 10px;
    border-radius: 4px;
}

#page {
    flex-basis: 70%;
    max-height: 425px;
    min-height: 425px;
    max-width: 425px;
    min-width: 425px;
    background-color: rgb(255, 159, 175);
}

#scroll {
    flex-basis: 20%;
    max-height: 75px;
    min-height: 75px;
    max-width: 425px;
    min-width: 425px;
    background-color: rgb(159, 245, 163);
}

@media (max-width: 3.5in) {
    #page {
        max-width: 100%;
        min-width: 100%;
        max-height: 70%;
        min-height: 70%;
    }

    #height {
        max-width: 100%;
        min-width: 100%;
        max-height: 20%;
        min-height: 20%;
    }

    #body {
        background-color: black;
    }
}